
<md-dialog class="add_trial" ng-hide="hide_dialog">
    <form ng-cloak>
        <div class="modal-header">

            <div class="col-md-2">
                <h5 class="modal-title"><i class="fa fa-forumbee" aria-hidden="true"></i> Edit Criteria</h5>
            </div>
           
            <div class="col-md-1">

            </div>
        </div>
<br clear="all">
			   
			
			  
			   <!-- Checkbox Section -->
			   
			     <div  style="margin-top: 30px; padding: 15px">
			   <div layout="row"  layout-align="space-between start">
		       <div style="width:100%">
					<md-input-container class="md-block" style="width:100%">
			          <label>Check Box</label>
			          <input ng-model="editcriteria"/>
			        </md-input-container>
 				<div class="option_container" layout="column" layout-align="space-between start">
			    
						<md-input-container class="md-block" style="width:100%" md-no-float>
						
						  <input placeholder="option 1" ng-model="editcriteria1"/>
						</md-input-container>
						<md-input-container class="md-block" style="width:100%" md-no-float>
						 
						  <input placeholder="option 2" ng-model="editcriteria2"/>
						</md-input-container>
						<md-input-container class="md-block" style="width:100%" md-no-float>
						 
						  <input placeholder="option 2" ng-model="editcriteria3"/>
						</md-input-container>
						
					
			   </div>
			   
			        </div>





			       <div layout="column"  layout-align="space-between start" style="background-color: rgba(244, 242, 242, 0.29);margin-left: 20px;padding-right: 15px;border-radius: 3px;box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);">
 					<div layout="row"  layout-align="space-between start">
			         <md-input-container >
			        <md-button type='button' class='md-primary ' style="background-color: rgba(232, 232, 232, 0.35);"><i class='fa fa-plus' aria-hidden='true'></i> Add</md-button></md-input-container >      <md-input-container ><md-button type='button' class='md-primary cancel' style="background-color: rgba(232, 232, 232, 0.35);">Cancel</md-button>
			        </md-input-container >
			         </div>
					<div layout="row"  layout-align="space-between center" class="md-padding" style="width:100%; padding-right: 0">
					<md-input-container class="md-block criteria_selection" style="width:70%">
			            <label>Criteria</label>
			            <md-select ng-model="user.option">
			              <md-option value="option1" >
			          Inclusion criteria
			              </md-option>
			              <md-option value="option2" selected>
			               Exclusion criteria
			              </md-option>
			            </md-select>
			          </md-input-container>

			          <md-input-container class="md-block criteria_selection" style="width:100%">
			            <label>Gender</label>
			            <md-select ng-model="gender.option">
			              <md-option value="option1">
			         Male
			              </md-option>
			              <md-option value="option2">
			             Female
			              </md-option>
			               <md-option value="option3" selected>
			             All
			              </md-option>
			            </md-select>
			          </md-input-container>
			          </div>
			          </div>
               </div>
			   
			  

			   </div>
			   
			  
			
			
<div class=" btn_top_10 submit_sec" >



<md-divider></md-divider>
<md-button class="md-primary fr" ng-click="hideDialog('hide')">Cancel</md-button>
<md-button class="md-primary fr" ng-click="showControl('hide');showDemographics = !showDemographics ">Submit</md-button>

</div>
			   
			   
        </div>
		



    </form>
</md-dialog>