

<div class="outreach_header" layout="row" layout-align="space-between center" id="top">
  <div>
   <md-button back-button style="float:left; color:green; font-weight:bold;"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</md-button>
   </div>
</div>

<div style="padding: 10px; padding-left: 20px" layout="row"  layout-align="start" >
<div><img src="assets/svg/list.svg" width="35"></div>
<div style="padding-top: 0px; font-size: 20px;">Patient’s First Email</div>

</div>

<div ng-cloak class="email_outreach_detail_tab">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Overview">
        <md-content class="md-padding">
<div layout="column" layout-align="space-between center" class="outreach_overview">
            <div layout="row" layout-align="space-between center" class="fl_w">
              
            <div flex class="md-padding">
            <h4 class="graph_head">EMAIL SUMMARY</h4>
              <iframe width="450" height="400" ng-src="{{outreach_summary}}" style="border:0;"></iframe>
            </div>
            <div flex class="md-padding">
            <h4 class="graph_head">OUTREACH BY LOCATION</h4>
              <iframe width="450" height="400" ng-src="{{outreach_location}}" style="border:0;"></iframe>
            </div>
            </div>
                                <!-- <div layout="row" layout-align="space-between stretch" class="fl_w bx_shd">
                                    <div class="md-padding m-r-10 br-rt " flex="60">
                                        <h4 class="graph_head">Email summary</h4>
                                        <img src="assets/svg/summary.svg" >
                                    </div>
                                    <div class="md-padding" flex="40">
                                        <h4 class="graph_head">Campaign stats</h4>
                                        <img class="md-card-image" alt="widget" src="assets/svg/outreach_4.svg">
                                    </div>
                                </div> -->
                                <div layout="row" layout-align="space-between stretch" class="m-t-15 fl_w m-b-10 numbers_camp">

                                    <div class="m-r-10 fl_w numbers_dash" flex="33" layout="column" layout-align="center center" >

                                    <div class="m-b-10 md-padding fl_w"  layout="column"  layout-align="center center">

                                      <div flex layout="column" layout-align="center center">
                                      <div class="value_label">EMAILS SENT</div>
                                        <div class="value">18,656</div>
                                      <div class="value_label_perc">&nbsp;</div>
                                        
                                       </div>

                                    </div>
                                    <div class="md-padding fl_w">
                                      <div flex layout="column" class="pos_re" layout-align="center center">
                                       <div class="metric_status"><i class="fa fa-stop" aria-hidden="true"></i></i></div>
                                      <div class="value_label">UNSUBSCRIBES</div>
                                        <div class="value">242</div>
                                      <div class="value_label_perc">(1.3% of emails sent)</div>
                                        
                                       </div>

                                    </div>
                                        
                                    </div>
                                  <div class="m-r-10 fl_w numbers_dash" flex="33" layout="column" layout-align="space-between center" >

                                    <div class="m-b-10 md-padding fl_w" >

                                     <div flex layout="column" class="pos_re" layout-align="center center">
                                       <div class="metric_status"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                                      <div class="value_label">EMAILS OPENED</div>
                                        <div class="value">4,664</div>
                                       <div class="value_label_perc">(25% of emails sent)</div>
                                        
                                       </div>

                                    </div>
                                    <div class="md-padding fl_w">
                                      <div flex layout="column" layout-align="center center">
                                      <div class="value_label">BOUNCED</div>
                                        <div class="value">20</div>
                                      <div class="value_label_perc">(0.1% of emails sent)</div>
                                        
                                       </div>
                                      
                                    </div>
                                        
                                    </div>
                                   <div class="fl_w numbers_dash" flex="33" layout="column" layout-align="space-between center" >

                                    <div class="m-b-10 md-padding fl_w">

                                    <div flex layout="column" class="pos_re" layout-align="center center">
                                      <div class="metric_status"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
                                      <div class="value_label">LINKS CLICKED</div>
                                       <div class="value">1,632</div>
                                      <div class="value_label_perc">&nbsp;</div>
                                        
                                       </div>

                                    </div>
                                    <div class="md-padding fl_w">
                                     <div flex layout="column" layout-align="center center">
                                      <div class="value_label">REPORTED AS JUNK</div>
                                        <div class="value">0</div>
                                       <div class="value_label_perc">(0% of emails sent)</div>
                                        
                                       </div>
                                    </div>
                                        
                                    </div>
                                </div>


                            </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_details_leftdiv" style="border: solid 1px rgba(0, 0, 0, 0.15); ">
             <span>Delivery date & time</span>
            </div>
            <div class="email_outreach_detail_details_rightdiv" style="border: solid 1px rgba(0, 0, 0, 0.15); border-left: none;">
              <span style="padding-left: 10px; ">Sun, Sep 08, 2016 9:00 am</span>
            </div>
          </div>
          
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_details_leftdiv">
             <span>From name</span>
            </div>
            <div class="email_outreach_detail_details_rightdiv">
              <span style="padding-left: 10px;">Quest Diagnostics</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_details_leftdiv">
             <span>From email</span>
            </div>
            <div class="email_outreach_detail_details_rightdiv">
              <span style="padding-left: 10px;">clinicaltrial@questdiagnostics.com</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_details_leftdiv">
             <span>Subject line</span>
            </div>
            <div class="email_outreach_detail_details_rightdiv">
              <span style="padding-left: 10px;">Help us explore a potential way to protect your heart.
</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_details_leftdiv">
             <span>Recipients</span>
            </div>
            <div class="email_outreach_detail_details_rightdiv">
              <span style="padding-left: 10px;"> Sent to list: Retention candidates</span>
            </div>
          </div> 
        </md-content>
      </md-tab>
      <md-tab label="Results">
        <md-content class="md-padding">
         <div style="font-weight: black; font-size: 15px;margin-bottom: 20px;" > <span >Recipients: 18,656</span></div>
          <div layout="row" layout-align="space-between center" style="margin-bottom: 20px;">
            <div class="email_outreach_detail_report_leftdiv">
             <p> List: &nbsp;<span style="color: black;" >Retention candidates</span></p>
            </div>
            <div class="email_outreach_detail_report_rightdiv">
              <p> Delivered: &nbsp;<span style="color: black;"  >Sun, Sep 08, 2016 9:00 am</span></p>
            </div>
          </div> 
          <div layout="row" layout-align="space-between center" style="margin-bottom: 60px;">
            <div class="email_outreach_detail_report_leftdiv">
              <p> Subject: &nbsp;<span style="color: black;" >Help us explore a potential way to protect your heart</span></p>
            </div>
            <div class="email_outreach_detail_report_rightdiv">
              <p> <a href="" style="text-decoration: none; color: black;">View email · Download · Print · Share</a></p>
            </div>
          </div> 
          <div layout="row" layout-align="space-between center" style="margin-bottom: 20px;">
            <div class="email_outreach_detail_report_leftdiv" style="border-right: none;">
             <span >Open Rate<span style="float: right;color: black;">25%</span> </span>
             <p><md-progress-linear md-mode="determinate" value="25"></md-progress-linear></p>
            </div>
            <div class="email_outreach_detail_report_rightdiv">
              <span >Click Through Rate (CTR)<span style="float: right; color: black;color:black;">35%</span> </span>
              <p><md-progress-linear md-mode="determinate" value="11"></md-progress-linear></p>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" style="margin-bottom: 60px;" >
            <div class="email_outreach_detail_report_leftdiv" style="border-right: none;">
             <span >List Average<span style="float: right;color:black;">19%</span> </span>
            </div>
            <div class="email_outreach_detail_report_rightdiv">
              <span>List Average<span style="float: right;color:black;">26%</span> </span>
            </div>
          </div>



          <div layout="row" layout-align="space-between center" style="margin-bottom: 60px; ">
           <div style="border-right: solid 1px rgba(0, 0, 0, 0.15); width: 25%;""><span>4,664</span><p>Opened</p></div>
           <div style="border-right: solid 1px rgba(0, 0, 0, 0.15); width: 25%;padding-left: 10px; "><span>1,632</span><p>Clicked</p></div>
           <div style="border-right: solid 1px rgba(0, 0, 0, 0.15); width: 25%; padding-left: 10px;"><span>20</span><p>Bounced</p></div>
           <div style=" width: 25%;padding-left: 10px; "><span>242</span><p>Unsubcribed</p></div>
          </div>


          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_1" style="border: solid 1px rgba(0, 0, 0, 0.15);">
             <span >Successful Deliveries<span style="float: right;color: black;">18,096 (97%)</span> </span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_1" style="border-top: solid 1px rgba(0, 0, 0, 0.15);">
              <span >Clicks per unique opens<span style="float: right; color: black;color:black;">33.3%</span> </span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_1">
             <span >Total Opens<span style="float: right;color: black;">4,664</span> </span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_1">
              <span >Total Clicks<span style="float: right; color: black;color:black;">1,632</span> </span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" >
            <div class="email_outreach_detail_report_leftdiv_1">
             <span >Last Opened<span style="float: right;color: black;">01/15/17 12:40AM</span> </span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_1">
              <span >Last Clicked<span style="float: right; color: black;color:black;">01/15/17 12:41AM</span> </span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" style="margin-bottom: 60px;">
            <div class="email_outreach_detail_report_leftdiv_1">
             <span >Forwarded<span style="float: right;color: black;">1</span> </span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_1">
              <span >Abuse Reports<span style="float: right; color: black;color:black;">0</span> </span>
            </div>
          </div>




          <div style="font-weight: black; font-size: 15px;margin-bottom: 20px;" > <span >Top Links Clicked</span></div>
          <div layout="row" layout-align="space-between center" class="email_outreach_report_top_link">
            <div  class="email_outreach_report_leftdiv_2head" >
             <span >Top Links Clicked</span>
            </div>
            <div class="email_outreach_report_rightdiv_2head" >
              <span >Count</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">https://www.mySTRENGTHtrial.com</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >2,458</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">https://www.mySTRENGTHtrial.com/optout</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >324 </span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" >
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">QuestDiagnostics.com
</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >33</span>
            </div>
          </div>
          <div style="font-weight: black; font-size: 13px;margin-bottom: 60px;" > <span ><a href="" style="text-decoration: none; color:black;">View More</a></span></div>

           <div style="font-weight: black; font-size: 15px;margin-bottom: 20px;" > <span >Subscribers with most opens</span></div>
          <div layout="row" layout-align="space-between center" class="email_outreach_report_top_link">
            <div class="email_outreach_report_leftdiv_2head" style="border: solid 1px rgba(0, 0, 0, 0.15);color: rgb(53,121,42)!important; ">
             <span >Subscribers with most opens</span>
            </div>
            <div class="email_outreach_report_rightdiv_2head" style="border-top: solid 1px rgba(0, 0, 0, 0.15);color: rgb(53,121,42)!important;">
              <span >Count</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">anderson.tom@gmail.com</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >7</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">mathew_sa@yahoo.com</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >3 </span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" >
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">allisonrome@hotmail.com</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >3</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center">
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">sim_jeremy@gmail.com</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2" >
              <span >1</span>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" style="margin-bottom: 10px;">
            <div class="email_outreach_detail_report_leftdiv_2">
             <span ><a href="" style="text-decoration: none; color:black;">kkputtlitiz@yahoo.co.in</a></span>
            </div>
            <div class="email_outreach_detail_report_rightdiv_2">
              <span >1</span>
            </div>
          </div>
          <div style="font-weight: black; font-size: 13px;margin-bottom: 20px;" > <span ><a href="" style="text-decoration: none; color:black;">View More</a>
          </span></div>


         <!--  <div style="font-weight: black; font-size: 15px;margin-bottom: 20px;" > <span >Top Links Clicked</span></div>
          <div layout="column" layout-align="space-between center">
            <div class="email_outreach_detail_report_top_clicked" style="border: solid 1px rgba(0, 0, 0, 0.15);">
             <span>Links Clicked
               <span style="float: right;color: black;">Count</span> 
             </span>
            </div>
            <div class="email_outreach_detail_report_top_clicked" >
             <span><a href="" style="text-decoration: none; color:black;">https://www.fastcompany.com/3066458/lessons-learned/lessons-from-three-of-2017s-biggest-pr-fails</a>
              <span style="float: right;color: black;">7</span>
            </span>
            </div>
            <div class="email_outreach_detail_report_top_clicked">
             <span >https://smpsboston.org/communications/10-business-resolutions-help-take-charge-pr-marketing-2017
               <span style="float: right;color: black;">3</span> 
             </span>
            </div>
            <div class="email_outreach_detail_report_top_clicked">
             <span >http://tech.co/become-a-more-successful-cmo-by-adopting-these-7-traits-2017-12<span style="float: right;color: black;">3</span> 
             </span>
            </div>
            <div class="email_outreach_detail_report_top_clicked">
             <span >http://www.fullintel.com/campaign/trialsignup.html<span style="float: right;color: black;">1</span> 
             </span>
            </div>
            <div class="email_outreach_detail_report_top_clicked" style="margin-bottom: 10px;">
             <span >http://www.business2community.com/tech-gadgets/7-must-see-tech-gadgets-ces-2017-01736758OQVUh9OL8ymJcGmo.97<span style="float: right;color: black;">1</span> 
             </span>
            </div>
          </div>
        <div style="font-weight: black; font-size: 13px;margin-bottom: 20px;" > <span >View More</span></div> -->








         


        </md-content>
      </md-tab>

      <md-tab label="Responders" >
        <md-content class="md-padding" >
          <div layout="row"  layout-align="start center" style="padding-top: 0;" layout-padding>
  
  <div flex>
  <div layout="column"  layout-align="center stretch" >
  <div layout="row"  layout-align="space-between center" style="padding-top: 0;" layout-padding>
   
   <div >

       <span  ng-click="show_filter = !show_filter " style="font-size: 15px; cursor: pointer; outline: none" class="patient_add2">Filter Option <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
       
   </div>
  </div>
   <div layout="column"  ng-show="show_filter" layout-align="space-between stretch" style="position:relative;border-radius: 3px;margin-bottom:5px;border-radius: 3px;padding-bottom: 0; padding-top: 0" layout-padding>
    <span class="patient_add2" style="padding: 0 8px">Search By</span>
   <div layout="row" layout-align="space-between center" >
    
      <md-radio-group ng-model="data.group1" layout="row" layout-align="start center" class="filter-section" layout-padding style="padding-left: 0; width:50%; border-right: 2px solid #D8D8D8; margin-right: 15px">

      <md-radio-button value="all" class="md-primary patient_name">All</md-radio-button>
      <md-radio-button value="Patients"  class="md-primary patient_name"> Filter 1 </md-radio-button>
      <md-radio-button value="Physicians"  class="md-primary patient_name">Filter 2</md-radio-button>

    </md-radio-group>
     <md-input-container md-no-float style="width:50%" class="identify_search">
        
        <input ng-model="user.title"  placeholder="Refine">
      </md-input-container>

   </div>

   <div layout="row" layout-align="space-between center" >
   <div  ng-repeat="alphaData in alphaData.data">

   <span class="patient_add2"> {{alphaData.id}} </span>
   </div>
   </div>
 
    
    

   
  </div>
  </div>

<!-- patient detailed view begins -->

<div style="padding: 0px 0px !important" class="top_identity_detail" layout="row" layout-align="space-between center" ng-show="patient_analytic_back">
  <div>
   <md-button ng-click="clickBackPatient()" style="float:left; color:green; font-weight:bold;"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</md-button>
   </div>
   <!-- <div style="float:right" >
   <md-button ><a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold;"><i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i></a></md-button>
   </div> -->
</div>
<br>
<div class="width_100" ng-show="patient_detail_view"><!--  Patient Profile-->


<div layout="row" layout-align="space-between center" class="top_identity_profile" style="" >
   <div layout="row" flex="40"><h6><div class="divround">TA</div></h6>
      <div layout="column" layout-align="start start" class="patientprofile" style="width: inherit;">

         <div style="padding-top:10px;padding-left:20px; font-family: probold; color:#6d6d6d;font-size: 12px; "> PATIENT PROFILE </div>
         <div class="patientprofilename">Anderson, Thomas</div>
      </div>
      </div>
   


   <div layout="row" flex="60" class="patient_top_section patient_top_section_1 min-width">
       <div class="patient_top_data" flex=20>DOB
           
     <p class="fontprofilepatient">05/18/1980</p>
            
       </div>
       <div class="patient_top_data" flex=10>Age
           
     <p class="fontprofilepatient">36</p>
            
       </div>

       <div class="patient_top_data" flex=10>
          Sex<p class="fontprofilepatient">Male</p>
             
       </div>
        <div class="patient_top_data" flex=20>
          Patient ID<p class="fontprofilepatient">234A-8456</p>
           
       </div>
       <div class="patient_top_data" flex=20>
          MyQuest User<p class="fontprofilepatient">Yes</p>
             
       </div>
       <div class="patient_top_data" flex=20>
          Opt-In for Trials<p class="fontprofilepatient">Yes</p>
             
       </div>
   </div>

      <!-- <div>
   <md-button ><a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold;"><i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i></a></md-button>
   </div> --> 

</div>


<!-- CONTACT AND REFERENCE INFORMATION -->
<div class="md-padding patient_detail_info temp_fix">

<div class="patientinformationdetail" layout="column"       layout-align="start">
   <div class="patientinfodetail">CONTACT AND REFERENCE INFORMATION
      <span class="trigger1" ng-click="show=!show"><i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
   </div>

</div>


<!-- CONTACT AND REFERENCE INFORMATION  DETAILS - SHOW-->


<div  ng-hide="show" class="patientinformationdetails" layout="column"       layout-align="start">
   <div class="patientinfodetail">
      

      <div layout="row" layout-align="space-between center"  class="md-padding  br-bt">
      <div class="contactinformation">Contact Information
      </div>
      <div style="margin-right: 10px;">
      <a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold;"><i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i></a>
      </div></div>





      <div layout="row" layout-align="start center" class="md-padding patient_detail">
         <div class="p-10" flex="15"><div class="primary">Primary Phone</div>
         <div class="fontprofile">(631) 213-3421</div></div>
        <div class="p-10" flex="10"> <div class="primary">Type</div>
            <div class="fontprofile1">Mobile</div></div>
        
         <div class="p-10" flex="30"><div class="primary">Preference</div> <div class="fontprofile1">Can receive  SMS notifications</div></div>
        
         <div class="p-10" flex="15"><div class="primary">Secondary phone</div>  <div class="fontprofile1">(631) 213-2518</div></div>
       
         <div class="p-10" flex="15"><div class="primary">Type</div> <div class="fontprofile1">Work</div></div>
         
         <div class="p-10" flex="15"><div class="primary">Extension</div>
         <div class="fontprofile1">231</div>    </div>
          
      </div>
     
      <div layout="row" layout-align="start center" class="md-padding patient_detail">
         <div class="p-10" flex="25"><div class="primary">Email</div>
       <div class="fontprofile">thomas.anderson@gmail.com</div></div>
        <div class="p-10" flex="45"> <div class="primary">Preference</div>

         <div class="fontprofile1">Patient's preferred form of contact, Can receive notifications
       </div></div>
       <div class="p-10 " flex="30">
         <div class="primary">Address</div>
   <div class="fontprofile">181 Augusta Dr., Medford, NY 11763</div>
       </div>
      
          
      </div>
  
 <hr>
      <div layout="row" layout-align="space-between center"  class="md-padding  br-bt">
      <div class="contactinformation">Reference Information
      </div>
      </div>
   <div layout="row" layout-align="start center" class="md-padding patient_detail">
         <div class="p-10" flex="25"><div class="primary">Lab Reference ID</div>
          <div class="fontprofile">A49201</div></div>
    
        <div class="p-10" flex="45"> <div class="primary">Health ID</div>
        <div class="fontprofile">Mobile</div></div>
         <div class="p-10" flex="30"><div class="primary">Photo ID image</div>
          <div class="fontprofile">None
      <!-- <h5 style="color:green;font-size:13px; font-family:probold; text-align:left;margin:0; margin-top: 5px; border-bottom: none"> View</h5> --></div>
         
   </div></div>
 
   
    </div>
</div><br>
<div layout="column" layout-align="start" class="patientinformationdetail ">
<div class="patientinfodetail">MEDICAL HISTORY
<span class="trigger1" ng-click="show3=!show3"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
</div>
<div  ng-show="show3" class="eligibility_criteria_details"  layout="column" layout-align="start">

<!-- inside question answered toggle -->


<!-- inside DDX report toggle -->

<div ng-hide="showd" class="patientinfodetail p-15">
   
   <div class="contactinformation p-15">Laboratory History<a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold; float: right; margin-right:10px; "><i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i></a></div>
  
   <!-- <div class="hr2"><hr></div> -->
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px; width: 100%">

   <table style="border-style:5px solid green; width: 98% !important;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Laboratory History</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">CPT Code 
</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of First Known Occurrence Within the Lookback Period </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of Most Recent Known Occurrence  </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Number of Known Occurrences Within the Lookback Period </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; width: 20%">Clinician and/or Facility Associated with the Most Recent Known Occurrence </td>
   
   </tr>
     <tr>
    <td ><span ng-click="showlipidresult()" style="border-bottom: 1px dotted #000; cursor: help">Lipid Panel </span></td>
    <td >80061</td>
    <td >04/28/2015</td>
    <td >05/05/2015 </td>
    <td >2</td>
    <td >Quest Diagnostics - Medford PSC</td>
   
   </tr>
    <tr>
      <td >Chemistry Screen Panel </td>
    <td >80053</td>
    <td >05/20/2015</td>
    <td >05/20/2015 </td>
    <td >3</td>
    <td >Franklin Hospital</td>
   
   </tr>
  <tr>
      <td >Complete Blood Count (Includes Differential and Platelets)</td>
    <td >85025</td>
    <td >05/20/2015</td>
    <td >05/20/2015</td>
    <td >1</td>
    <td >Franklin Hospital</td>
   
   </tr>
   <tr>
      <td >Prothrombin Time with INR </td>
    <td >85610</td>
    <td >05/20/2015</td>
    <td >05/20/2015</td>
    <td >2</td>
    <td >Baltimore General Hospital</td>  
   
   </tr>
   </table>
   </div>

   </div><br><hr>  
   <div class="contactinformation p-15">Diagnosis History</div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px;">

   <table style="border-style:5px solid green; width: 98%;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Diagnosis History</td>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Source</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">ICD-9 or ICD-10  </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of First Known Occurrence Within the Lookback Period </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of Most Recent Known Occurrence  </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Number of Known Occurrences Within the Lookback Period </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Clinician and/or Facility Associated with the Most Recent Known Occurrence </td>

   
   </tr>
    <tr>
      <td >Atherosclerosis</td>
      <td >Data Diagnostics Report</td>
    <td >125.10</td>
    <td>10/01/2014</td>
    <td >11/01/2014</td>
    <td >1</td>
    <td >Franklin Hospital</td> 
   
   </tr>
  <tr>
      <td >Spinal Stenosis  (probability 80%)</td>
      <td >ScriptCheck</td>
    <td >V10.3</td>

    <td>09/29/2014</td>
    <td >09/30/2014</td>
    <td >1</td>
    <td >Eduardo Fuentes, DO</td> 
   </tr>
   </table>
   </div>
   </div><br><hr>  
    <div class="contactinformation p-15">Medication History</div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px;">

   <table style="border-style:5px solid green; width: 98%;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Medication History</td>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Source</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">NDC Code  </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of Most Recent Known Fill</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; width: 20%;">Number of Known FIlls Within the Lookback Period</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;width: 20%;">Clinician and/or Facility Associated with the Most Recent Known Fill </td>

   
   </tr>
   <tr>
      <td >Simvastatin</td>
    <td >ScriptCheck</td>
    <td >00378-5403</td>
    <td>06/22/2015</td>
    <td >7</td>
    <td >CTR Pharmacy</td>
    
   
   </tr>
    <tr>
      <td >Albuterol Inhaler</td>
    <td >Data Diagnostics Report</td>
    <td >53002-0902</td>
    <td>06/15/2015</td>
    <td >4</td>
    <td >CTR Pharmacy</td>
    
   
   </tr>
  <tr>
      <td >Fluticasone Proprionate</td>
    <td >ScriptCheck</td>
    <td >53002-0902</td>
    <td>06/15/2015</td>
    <td >2</td>
    <td >Main Street Pharmacy</td>
 
   
   </tr>
   <tr>
    <td >Percocet 325/5</td>
    <td >ScriptCheck</td>
    <td >53002-0902</td>
    <td>02/11/2015</td>
    <td >5</td>
    <td >Hank’s Drugs</td>

   
   </tr>
   <tr>
    <td >Percocet 325/5</td>
    <td >Data Diagnostics Report</td>
    <td >53002-0902</td>
    <td>03/20/2015</td>
    <td >5</td>
    <td >CTR Pharmacy </td>

   
   </tr>
   <tr>
    <td >Percocet 325/5</td>
    <td >ScriptCheck</td>
    <td >53002-0902</td>
    <td>03/10/2015</td>
    <td >3</td>
    <td >Main Street Pharmacy</td>

   
   </tr>
   </table>
   </div>
   </div><br><hr>
   <div class="contactinformation p-15">Surgical Procedure History</div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px; width: 100%">

   <table style="border-style:5px solid green; width: 98% !important;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; width: 50%">Known Surgical Procedure History </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">CPT Code 
</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Clinician and/or Facility  </td>
   
   </tr>
    <tr>
      <td >Laminectomy, facetectomy and foraminotomy (unilateral or bilateral with decompression of spinal cord, cauda equine and/or nerve root[s], [eg. Spinal or lateral recess stenosis]), single vertebral segment; lumbar</td>
    <td >63047</td>
    <td >05/20/2015</td>
    <td >Franklin Hospital</td>
   
    
   
   </tr>
  <tr>
      <td >Valvotomy (Commisurotomy), mitral valve, closed heart</td>
    <td >33420</td>
    <td >11/01/2014</td>
    <td >Franklin Hospital</td>
   
   
   
   </tr>
   
   </table>
   </div>

   </div><br><hr>
   <div class="contactinformation p-15">Vaccination History</div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px; width: 100%">

   <table style="border-style:5px solid green; width: 98% !important;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; width: 50%">Known Vaccination History</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">CPT Code 
</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Clinician and/or Facility  </td>
   
   </tr>
    <tr>
      <td >Afluria (IIV3) </td>
    <td >90656</td>
    <td >10/01/2014</td>
    <td >Thomas Boyer, MD</td>   
   </tr>

   
   </table>
   </div>

   </div><br><hr>
   <div class="contactinformation p-15">Radiological Study History </div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px; width: 100%">

   <table style="border-style:5px solid green; width: 98% !important;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; width: 50%">Known Radiological Study History </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">CPT Code 
</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Clinician and/or Facility  </td>
   
   </tr>
    <tr>
      <td >Magnetic resonance imaging, spinal canal and contents, lumbar; without contrast material </td>
    <td >72148</td>
    <td >05/10/2015</td>
    <td >Franklin Hospital</td>   
   </tr>
   <tr>
      <td >Chest X-Ray 2-view</td>
    <td >71020</td>
    <td >05/10/2015</td>
    <td >Franklin Hospital</td>   
   </tr>

   
   </table>
   </div>

   </div><br><hr>
   <div class="contactinformation p-15">Clinician Visit History</div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px;">

   <table style="border-style:5px solid green; width: 98%;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Known Clinician Visit History</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of First Known Encounter Within the Lookback Period </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of Most Recent Known Encounter</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; ">Number of Known FIlls Within the Lookback Period</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Clinician and/or Facility Associated with the Most Recent Known Fill </td>

   
   </tr>
    <tr>
      <td >Office or other outpatient visit for the evaluation and management of an established patient</td>
    <td >06/12/2015</td>
    <td>08/25/2015</td>
    <td >2</td>
    <td >Anna Schultz, MD</td>
    
   
   </tr>
  <tr>
      <td >Office or other outpatient visit for the evaluation and management of an established patient</td>
    <td >10/01/2014</td>
    <td>07/12/2015</td>
    <td>4</td>
    <td>Thomas Boyer, MD</td>
 
   
   </tr>
   <tr>
    <td >Office or other outpatient visit for the evaluation and management of an established patient</td>
    <td >09/29/2014</td>
    <td>07/12/2015</td>
    <td >5</td>
    <td >Eduardo Fuentes, DO</td>

   
   </tr>
   </table>
   </div>
   </div><br><hr>
   <div class="contactinformation p-15">Cardiac Study History </div>
   <div layout="row"       layout-align="start">
    <div style="padding-left: 10px !important;padding-top: 10px;">

   <table style="border-style:5px solid green; width: 98%; ">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; width: 50%">Known Cardiac Study History </td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">CPT Code</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Date of Most Recent Known Study</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px; ">Number of Known Study Within the Lookback Period</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Clinician and/or Facility Associated with the Most Recent Known Fill </td>

   
   </tr>
    <tr>
      <td >Echocardiography, transthoracic, real-time with image documentation (2D), includes M-mode recording, when performed, complete, with spectral Doppler echocardiography, and with color flow Doppler echocardiography</td>
    <td >93306  </td>
    <td>05/15/2015</td>
    <td >2</td>
    <td >Franklin Hospital</td>
    
   </tr>
   </table>
   </div>
   </div><br><hr>
   <md-button  style="float:left; color:green;font-size:13px; font-weight:bold;" > For more details download patient report here</md-button>
    </div>

</div>

    

<br>

<div layout="column" layout-align="start" class="patientinformationdetail">
<div class="patientinfodetail">QUESTIONNAIRE
<span class="trigger1" ng-click="show1=!show1"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
</div>
<div ng-show="show1" class="eligibility_criteria_details p-15"  layout="column" layout-align="start ">
<div class="patientinfodetailnopadding">
   <div class="eligibility_criteria1">Ongoing Trial</div>
   <div class="contactinformation" style="margin-bottom: 20px;">Outcomes Study to Assess STatin Residual Risk Reduction With EpaNova in HiGh CV Risk PatienTs With Hypertriglyceridemia (STRENGTH)</div>
   <div layout="row"       layout-align="start" ">
   
   <div class="eligibility_criteria_q1"><strong>Question Answered</strong>
    
   </div>

   <div class="eligibility_criteria2"><strong>Expected Answers</strong>
      <!-- <a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold; float: right; margin-right:10px; "><i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i></a> -->
      </div>
   </div>
   <div layout="row"       layout-align="start" ">
   
   <div class="eligibility_criteria_q2">Please confirm your age
    <div class="fontprofile22">36</div>
   </div>

   <div class="eligibility_criteria22">Please confirm your age
   <div class="fontprofile4">Age between 18 and 99</div>
      <!-- <a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold; float: right; margin-right:10px; "><i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i></a> -->
      </div>
   </div>
  
   <div layout="row"       layout-align="start ">
   
   <div class="eligibility_criteria_q2">Please confirm that you are taking a statin drug such as simvastatin (Zocor), atorvastatin (Lipitor), rosuvastatin (Crestor), or other statin:
    <div class="fontprofile22">Yes, I Confirm</div>
   </div>

   <div class="eligibility_criteria22">Please confirm that you are taking a statin drug such as simvastatin (Zocor), atorvastatin (Lipitor), rosuvastatin (Crestor), or other statin:
      <div class="fontprofile4">Yes, I Confirm</div>
      </div>
   </div>
  
   
   <div layout="row"       layout-align="start ">
   <div class="eligibility_criteria3">Please confirm that your HDL (“good”) cholesterol is lower than normal:
    <div class="fontprofile5">Yes, I Confirm</div>
   </div>
  
   <div class="eligibility_criteria4">Please confirm that your HDL (“good”) cholesterol is lower than normal:
    <div class="fontprofile6">Yes, I Confirm</div>
   </div>
   
   </div>
   <div layout="row"       layout-align="start ">
   <div class="eligibility_criteria3">Please confirm that you have a history of heart problems such as atherosclerosis, heart attack, stroke, or have diabetes:
    <div class="fontprofile5">Yes, I Confirm</div>
   </div>
  
   <div class="eligibility_criteria4">Please confirm that you have a history of heart problems such as atherosclerosis, heart attack, stroke, or have diabetes:
      <div class="fontprofile6">Yes, I Confirm</div>
   </div>
   
   </div>
   
   <div layout="row"       layout-align="start">
    <div class="eligibility_criteria3">

   Are you allergic to omega-3 carboxylic acids, omega-3 fatty acids, omega-3-acid ethyl esters or Corn oil?
   <div class="fontprofile5">No</div>
   </div>

    <div class="eligibility_criteria4">
Are you allergic to omega-3 carboxylic acids, omega-3 fatty acids, omega-3-acid ethyl esters or Corn oil?
<div class="fontprofile6">No</div>
   </div>
   </div>

  <!--  <div class="eligibility_criteria1  p-15" style="padding-left: 10px">Previous Trials</div>
   <div class="p-15" style="padding-top: 0 !important">
   <div class="contactinformation">Olaparib as Adjuvant Treatment in Patients With Germline BRCA Mutated High Risk HER2 Negative Primary Breast Cancer</div>
      <div class="contactinformation">Clinical Trial on the Efficacy and Safety of Sirolimus-Eluting Stent (MiStent® System)</div>
   <div class="contactinformation" style="margin-bottom:20px; ">AZD9291 Versus Gefitinib or Erlotinib in Patients With Locally Advanced or Metastatic Non-small Cell Lung Cancer</div>
</div> -->
    </div>
    

</div>
<br>


<div layout="column" layout-align="start" class="patientinformationdetail">
<div class="patientinfodetail">OUTREACH HISTORY
<span class="trigger1" ng-click="show5=!show5"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
</div>
<div  ng-show="show5" class="eligibility_criteria_details p-15"  layout="column" layout-align="start">
<div class="patientinfodetail">
   <div layout="row" layout-align="space-between center">
   <div class="contactinformation">Campaign History</div>
   <div>
   <!-- <a href="" style="color:rgb(53,121,42); text-decoration: none; font-weight:bold; padding-top: 15px; ">
    <i  style="color:rgb(53,121,42);" class="fa fa-pencil" aria-hidden="true"></i>
    </a> -->
    <md-button  style="color:white;background-color:rgb(53,121,42)!important;font-size:12px; font-weight:bold;"> Add to Campaign</md-button>
    
    </div>
  </div>
   <!-- <div class="hr2"><hr></div> -->
   <div layout="row" layout-align="start">
    <div style=padding-top: 10px;">

   <table style="border-style:5px solid green; width: 100%;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Action</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Campaign Name</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Start Date</td>
        <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Type</td>
        
        <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Responded</td>
        <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Updated at</td>
   
   </tr>
    <tr>
      <td style="border-style:5px solid green; width: 300px;  align:justify;" class="link"><a href="">Edit</a> |
      <a href="">Del</a> | <a href="">View</a></td>
    <td style="border-style:thick 2px; width: 210px;">Patient’s First Email</td>
    <td style="border-style:thick 2px; width: 210px;">09/08/2016</td>
        <td style="border-style:thick 2px; width: 210px;">Email</td>
        
        <td style="border-style:thick 2px; width: 210px;"><i style="color:rgb(53,121,42);" class="fa fa-check" aria-hidden="true"></td>
        <td style="border-style:thick 2px; width: 210px;">01/01/2017 8:54 AM</td>
   
   </tr>
  <tr> 
   </tr>
   <tr>
   </tr>
   </table>
   </div>
   </div>
 
  <div layout="row"       layout-align="space-between center">
   <div class="contactinformation">Social Post History</div>
   <div style="padding-top: 10px;"><md-button  style="color:white;background-color:rgb(53,121,42)!important;font-size:12px; font-weight:bold;"> New Post</md-button></div>
  </div>
  <div layout="row"       layout-align="start">
    <div style="margin-bottom:20px; ">

   <table style="border-style:5px solid green; width: 100%;">
   <tr>
      <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Action</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Post Name</td>
    <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Start Date</td>
        <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Type</td>
   
        <td style="color:rgba(0, 0, 0, 0.60) !important;font-size:13px;">Updated at</td>
   
   </tr>
    <tr>
      <td style="border-style:5px solid green; width: 300px;  text-align:justify;" class="link"><a href="">Edit</a> |
      <a href="">Del</a> | <a href="">View</a></td>
    <td style="border-style:thick 2px; width: 210px;">Check out this clinical trial</td>
    <td style="border-style:thick 2px; width: 210px;">12/12/2017</td>
        <td style="border-style:thick 2px; width: 210px;">Facebook</td>
       
     
        <td style="border-style:thick 2px; width: 420px;">01/19/2017 09:00 AM</td>
   
   </tr>
  <tr>
     
   
   </tr>
   <tr>
      
   
   </tr>
   </table>
   </div>




   </div><br>
   
  
</div>



    </div>
    <br>
<!--   <div layout="column" layout-align="start" class="patientinformationdetail">
<div class="patientinfodetail">PREVIOUS TRIALS
<span class="trigger1" ng-click="prev_trials=!prev_trials"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
</div>
<div  ng-show="prev_trials" class="eligibility_criteria_details p-15"  layout="column" layout-align="start">
  <div class="patientinfodetail">
     <div layout="row" layout-align="space-between center">
   <div class="p-15 prev_trials_style" style="padding-top: 0 !important">
   <div class="contactinformation">Efficacy and Safety of Belimumab in Patients With Active Lupus Nephritis</div>
      <div class="contactinformation">Clinical Trial on the Efficacy and Safety of Sirolimus-Eluting Stent (MiStent® System)</div>
   <div class="contactinformation" style="margin-bottom:20px; ">AZD9291 Versus Gefitinib or Erlotinib in Patients With Locally Advanced or Metastatic Non-small Cell Lung Cancer</div>
  </div>
    </div>
     
    
  </div>
</div> -->
</div>
</div>

<!-- patient detailed view ends -->


 <div  class=" " ng-hide="patient_list">
   <md-table-pagination md-limit="query.limit"  md-page="query.page" md-total="{{identifyData.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
  <span class="list_head" >Responded Patients</span>
 <div ng-repeat="patient in patients_list"  class=" bg_white m-b-10 bx_shd p-15" layout="column" layout-wrap>
   <div layout="row" layout-wrap layout-align="space-around center" >
    <span class="rounded_text md-margin" flex="5" style="text-transform: uppercase;">{{ patient.patient_name | myfilter}}</span>
    <span flex="40">
      <div class="patient_name"><span ng-click="clickPatientdetail()">{{ patient.patient_name }}</span></div>
      <div class="patient_add">{{ patient.Address }}</div>
    </span>
    <span flex="10" class="br-rt">
    <div class="patient_add" >Gender</div>
    <div>{{ patient.Gender }}</div>
    </span>
    <span flex="10" class="br-rt">
    <div class="patient_add">Age</div>
    <div>
    {{ patient.Age }}
    </div>
    </span>
    <span flex="10">
    <div class="patient_add">Status</div>
    <div>
    {{ patient.stage }}
    </div>
    </span>
    <!-- <span flex="10"  class="patient_name"><a>View profile</a></span> -->
   </div>


  <!--  <div layout="row" layout-wrap layout-align="start center" class="footer_sec">

<div class="patient_add1"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
<div class="patient_add m-l-15">09.13.16</div>

   </div> -->
 
  </div>



</div>
</div>
  </div>
        </md-content>
      </md-tab>
      <md-tab label="Preview" >
        <md-content class="md-padding email_preview" >
          <div layout="column" layout-align="center center" style="width: 100%;">
            <div><img src="assets\images\quest_logo.jpg" height="110px" width="300px"></div>
            <div>
              <p style="font-style: italic;">Dear [Patient Name],</p><br/>
              <strong>Help us explore a potential way to protect your heart.</strong>
              <br>
              <p>The STRENGTH Trial is looking at an investigational medication to help reduce the risk of serious heart problems in people who have high levels of triglycerides (a type of fat found in the blood that can raise your risk of heart disease), low levels of high-density lipoprotein-cholesterol (HDL-C; the "good" cholesterol), and other risk factors for heart disease.
</p>
<br>
<p>The STRENGTH Trial will examine whether this investigational medication can lower triglyceride levels to help prevent serious events such as heart attacks and strokes when taken for an extended period of time. The study will involve approximately 13,000 people and will last for about 3–5 years.

</p>
<br>
<p>Quest Diagnostics is working to help recruit patients to the STRENGTH Trial. We believe it is important to evaluate potential new therapies that may improve healthcare quality.

</p>
<br>
<p>Compensation is being offered as a per visit stipend.

</p>
<br>
<strong>If you are interested</strong>
<br>
<p>If you are interested in seeing whether you might be a candidate for this study, please confirm your interest and answer a few questions at  <a href="#">https://www.mySTRENGTHtrial.com.</a>
</p>
<br>
<p>If you do not want to receive further information about this (or other) study, please notify us at <a href="#">https://www.mySTRENGTHtrial.com/optout</a> or email <i>mySTRENGTHtrial_opt_out@QuestDiagnostics.com</i> and Quest will not send you further communications.</p>
<br>
<p><strong>Note:</strong> This initiative was assessed for HIPAA compliance by Quest Diagnostics.
</p>
<br>
<p>Thank you for your consideration.
</p>
<br/>
<p>Sincerely,</p><br/>
<p>Dr. Harvey W. Kaufman, M.D.<br>
Senior Medical Director, Medical Informatics  <br>
Quest Diagnostics <br>
Madison, NJ 07940 USA <br>
<a href="#">QuestDiagnostics.com</a><br>
</p>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
