

<!-- Header -->

<div class="outreach_header" layout="row" layout-align="space-between center" >
  <div style="padding-left: 20px;"><h2>Templates</h2>
  </div>
  <div class="md-padding">
    <a href="#!/createtemplate" style="color:white; text-decoration: none"> <md-button style="background-color:rgb(53,121,42)!important; color:white;" class="md-primary big_btn" ><i  style="color:white;" class="fa fa-plus" aria-hidden="true"></i> Create Template</md-button></a>
  </div>
</div>
<div layout="row"  style="background-color: #ECECEC;padding: 0 16px">
  <md-button back-button style="float:left; color:green; font-weight:bold;"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</md-button>
</div> 

<!-- Template listing-->
<div class="email_outreach_body"  layout="column" layout-align="start" style="margin-top: 10px">
  <div  layout="row" class="email_oureach_list"  layout-align="space-between center" >
    
    <div flex="35" layout="column" layout-align="start" class="camp_name">
        <a href="#!/patient_email" style="text-decoration: none; color:black;"><span class="email_head_text"></span>Patients email</a>
        <p class="email_outreach_senton">Sun, Aug 08, 2016 9:00 am</p> 
    </div>

    
    <div flex="15">
        <span>Approved</span>
        <p>Status</p> 
    </div>
    <div flex="10" layout="row" layout-align="space-between center">
       <div layout="row" layout-align="center center">
        <i class="fa fa-clone" aria-hidden="true"></i>      
    </div>
    <div layout="row" layout-align="center center">
        <i class="fa fa-download" aria-hidden="true"></i>       
    </div>
    <div  layout="row" layout-align="center center">
        <i class="fa fa-trash" aria-hidden="true"></i>     
    </div>
    </div>
  </div>
  
</div>

<div class="email_outreach_body"  layout="column" layout-align="start" >
  <div  layout="row" class="email_oureach_list"  layout-align="space-between center" >
    
    <div flex="35" layout="column" layout-align="start" class="camp_name">
        <a href="" layout="column" layout-align="start" class="camp_name">
        <a href="#!/physician_email" style="text-decoration: none; color:black;"><span class="email_head_text"></span>Physician invite email</a>
        <p class="email_outreach_senton">Sun, Aug 08, 2016 9:30 am</p> 
    </div>

    
    <div flex="15">
       <span>Approved</span>
        <p>Status</p> 
    </div>
    <div flex="10" layout="row" layout-align="space-between center">
       <div layout="row" layout-align="center center">
        <i class="fa fa-clone" aria-hidden="true"></i>      
    </div>
    <div layout="row" layout-align="center center">
        <i class="fa fa-download" aria-hidden="true"></i>       
    </div>
    <div  layout="row" layout-align="center center">
        <i class="fa fa-trash" aria-hidden="true"></i>     
    </div>
    </div>
  </div>
  
</div>
<div class="email_outreach_body"  layout="column" layout-align="start" >
  <div  layout="row" class="email_oureach_list"  layout-align="space-between center" >
    
    <div flex="35" layout="column" layout-align="start" class="camp_name">
        <a href="#!/campaign_email" style="text-decoration: none; color:black;"><span class="email_head_text"></span>Campaign A/B template</a>
        <p class="email_outreach_senton">Sun, Aug 08, 2016 10:00 am</p> 
    </div>

    
    <div flex="15">
        <span>Approved</span>
        <p>Status</p> 
    </div>
    <div flex="10" layout="row" layout-align="space-between center">
       <div layout="row" layout-align="center center">
        <i class="fa fa-clone" aria-hidden="true"></i>      
    </div>
    <div layout="row" layout-align="center center">
        <i class="fa fa-download" aria-hidden="true"></i>       
    </div>
    <div  layout="row" layout-align="center center">
        <i class="fa fa-trash" aria-hidden="true"></i>     
    </div>
    </div>
  </div>
  
</div>
<div class="email_outreach_body"  layout="column" layout-align="start" >
  <div  layout="row" class="email_oureach_list"  layout-align="space-between center" >
    
    <div flex="35" layout="column" layout-align="start" class="camp_name">
        <a href="" layout="column" layout-align="start" class="camp_name">
        <a href="gmail.html" style="text-decoration: none; color:black;"><span class="email_head_text"></span>Campaign demographic</a>
        <p class="email_outreach_senton">Sun, May 08, 2016 9:00 am</p> 
    </div>

    <div flex="15">
        <span>Pending</span>
        <p>Status</p>
    </div>
    
    <div flex="10" layout="row" layout-align="space-between center">
       <div layout="row" layout-align="center center">
        <i class="fa fa-clone" aria-hidden="true"></i>      
    </div>
    <div layout="row" layout-align="center center">
        <i class="fa fa-download" aria-hidden="true"></i>       
    </div>
    <div  layout="row" layout-align="center center">
        <i class="fa fa-trash" aria-hidden="true"></i>     
    </div>
    </div>
  </div>
  
</div>
<div class="email_outreach_body"  layout="column" layout-align="start" >
  <div  layout="row" class="email_oureach_list"  layout-align="space-between center" >
    
      <div flex="35" layout="column" layout-align="start" class="camp_name">
          <a href="" layout="column" layout-align="start" class="camp_name">
        <a href="gmail.html" style="text-decoration: none; color:black;"><span class="email_head_text"></span>Patients engagement templates</a>
          <p class="email_outreach_senton">Sun, May 08, 2016 9:00 am</p> 
      </div>

    <div flex="15">
        <span>Approved</span>
        <p>Status</p>
    </div>
   
    <div flex="10" layout="row" layout-align="space-between center">
       <div layout="row" layout-align="center center">
        <i class="fa fa-clone" aria-hidden="true"></i>      
    </div>
    <div layout="row" layout-align="center center">
        <i class="fa fa-download" aria-hidden="true"></i>       
    </div>
    <div  layout="row" layout-align="center center">
        <i class="fa fa-trash" aria-hidden="true"></i>     
    </div>
    </div>
  </div>
  
</div>

<!-- <div layout="column" layout-align="start" class="template_type_header">
  <div >
    <span>TEMPLATE TYPE</span>
  </div>
</div>
<div layout="row" layout-align="space-between center" class="template_type_body">
  <div><a href="" ng-click="show_basic()" >
    <span>Basic</span>
    <p>Choose from standard template types</p></a>
  </div> 
  <a href=""><div ><a href="" ng-click="show_themes()">
    <span>Themes</span>
    <p>Choose from a variety of beautiful templates</p>
  </a></div>
  <div ><a href="" ng-click="show_custom()">
    <span>Custom HTML</span>
    <p>Create a template by pasting/writing your custom code</p>
  </a></div>
</div> -->
